@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    background: rgb(46, 40, 40);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
.container{
    border: 1px solid black;
    background: rgb(83, 81, 81);
    height: 700px;
    width: 850px;
    margin-top: 150px;
}

h1{
    text-align: center;
    color: white;
    margin-top: 20px;
}
hr{
    border-bottom: 2px solid black;
}
.info{
    margin-top: 30px;
    margin-left: 600px;
    border: 1px solid black;
    width: 200px;
    height: 150px;
}

#profilePicture{
    margin-left: 10px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 20px;
    width: 180px;
    height: 150px;
}

#profilePictureInput{
    margin-top: 55px;
    margin-left: 10px;
}

.file-input-container {
   
     width: 200px;
     overflow: hidden; 
     text-overflow: ellipsis;
     white-space: nowrap; 
    }

#uploadLabel, #profilePictureInput{
    color: white;
    font-size: 12px;
}

#uploadLabel{
    margin-left: 10px;
    font-size: 12px;
}

#submit{
    font-size: 12px;
}

.btn-container {
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    margin-left: -130px;
   
}

.btn1 {
    position: absolute;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin-left: -305px;
    background: rgb(124, 111, 111);
    cursor: pointer;
}

.btn1:hover {
    background: rgb(102, 91, 91);
    text-decoration: none;
    color: white;
}

.btn2{
    position: absolute;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin-left: -12px;
    background: rgb(124, 111, 111);
    cursor: pointer;
}

.btn2:hover {
    background: rgb(102, 91, 91);
    text-decoration: none;
    color: white;
}
.btn3{
    position: absolute;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 4px;
    margin-left: 225px;
    margin-top: 1px;
    background: rgb(124, 111, 111);
    cursor: pointer;
}

.btn3:hover {
    background: rgb(102, 91, 91);
    text-decoration: none;
    color: white;
}

.btn5{
    position: absolute;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 2px 10px;
    margin-top: 30px;
    background: rgb(124, 111, 111);
    cursor: pointer;
}

.btn5:hover {
    background: darkred;
    text-decoration: none;
    color: white;
}


.btn4{
    position: absolute;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 2px 15px 5px;
    margin-left:  340px;
    margin-top: 1px;
    background: rgb(124, 111, 111);
    cursor: pointer;
}

.btn4:hover {
    background: rgb(102, 91, 91);
    text-decoration: none;
    color: white;
}

.btn6{
    position: absolute;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin-left: -120px;
    background: rgb(124, 111, 111);
    cursor: pointer;
}
.btn6:hover {
    background: rgb(102, 91, 91);
    text-decoration: none;
    color: white;
}
.data {
    color: white;
    height: 300px;
    width: 500px;
    margin-top: -150px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(83, 81, 81);
}

.data h3 {
    margin: 0;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

.data p {
    margin: 0;
    padding: 5px;
    font-size: 14px;
}

.settings{
    position: absolute;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin-top: 65px;
    margin-left: -135px;
    background: rgb(124, 111, 111);
    cursor: pointer;
}

.settings:hover {
    background: rgb(102, 91, 91);
    text-decoration: none;
    color: white;
}

hr {
    border-color: white;
}